body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: Orange;
  text-align: center;
  background-color: Aqua;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: Orange;
  text-align: center;
  background-color: Aqua;
}
.gallery img {
  border: 20px solid White;
  padding: 2px;
  border-image: url(border.jpeg) 30 round;
}
h1 {
  font-family: 'Atomic Age', cursive;
  color: Orange;
  text-align: center;
  background-color: Aqua;
}
h2 {
  font-family: 'Audiowide', cursive;
  color: Orange;
  text-align: center;
  background-color: Aqua;
}
